body{ 
    font-family: 'Almarai', sans-serif;
}
.bg-primary{ 
    background-color: #881538 !important;
    color: white;
}
.bg-secondary{ 
    background-color: #5b0d25 !important;
    color: white;
}
